*{
    background-color:white;
}
h1{
    text-align: center;
    font-weight: bold;
    color: green;
    text-decoration: underline;
}
.position{
    display: flex;
    flex-direction: column;
    /* position: relative; */
}
.buttons{
    flex-direction: row;
    background-color: brown;
}
.reset{
   
    background-color: rebeccapurple;
    color: antiquewhite;
    margin-left: 60%;
    font-size: 12px;
}
.submit{
    background-color: blueviolet;
    color: antiquewhite;
    bottom: 10%;
    font-size: 12px;
}
.data{
    align-items: center;
}